.notification-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  /* El ancho inicial del sidebar, puedes ajustarlo */
  height: 100%;
  width: 300px;
  /* Ajusta según prefieras */
  background-color: #f4f4f4;
  /* Cambia según tu diseño */
  transition: right 0.3s;
  overflow-y: auto;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999999;
}

.notification-sidebar.open {
  right: 0;
}

button {
  background: none;
  border: none;
  font-size: 20px;
  /* Ajusta el tamaño del ícono */
  cursor: pointer;
  outline: none;
  color: white;
  /* Color del ícono */
  cursor: pointer;
}

.close-btn {
  background: none;
  border: none;
  font-size: 15px;
  /* Ajusta el tamaño del texto */
  cursor: pointer;
  outline: none;
  color: white;
  /* Color del texto */
  position: absolute;
  top: 20px;
  right: 10px;
}

/* Puedes añadir estilos adicionales para el hover y el active state si lo deseas */
.close-btn:hover {
  color: silver;
}

.close-btn:active {
  color: #777;
}

.notifications-component {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}

.notification-header {
  background: #3F4047;
  padding: 10px 20px;
  display: flex;
  line-height: 40px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  height: 60px;
}

.notification-header i {
  margin-right: 10px;
  margin-top: 12px;
}

.notification-list-header {
  color: #2F3037;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
  display: flex;
}

.notification-list-header .highlights-icons {
  margin-right: 10px;
}

.notification-list-content {
  color: #000;
  font-family: Hellix;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.notification-list-link {
  color: #E6773D;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.notification-list-link:hover {
  color: #E6773D;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.notification-content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  margin-top: 10px;
}

.notification-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification-content:hover {
  background-color: #f4faff;
  cursor: pointer;
}